
form {width: 300px;
	margin-top: 7em;
	margin-left: 37em;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 3em;
	padding-bottom: 1em;
    background:rgba(255,255,255,.3);
    /*background-color: #C0C0C0; */
    border-radius: 10px 10px 10px 10px;

}

.head {
    padding-right:1.5em;
font-size: 30px;
color:#669999;
font-weight: normal;
font-family: agency FB;
text-align: center;
background:rgba(255,255,255,.1);
}


.icon{
  padding-left: 5em;
  margin-bottom: 1.5em;
}



.label {
    font-size: 15px;
    color: white;
    margin-left: 3.5em;
    margin-bottom: 5em;
}

.box {
    margin-top: 0.5em;
    border-color: black;
    font-color:white;
}

.submit {
    margin-top: 1em;
}





