body {
    background: url('./../img/back2.jpg') center;
}

div.header {
    background: rgba(255,255,255,.1);
    text-align: center;
    font-family: "agency FB", sans-serif;
    font-size: 30px;
    color:#7ADDDD;
}

div.content {
    background:rgba(200,200,200,.4);
    width: 300px;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
}

div.weather-icon{
    margin: 0 auto 15px;
    width: 130px;
}

div.weather-icon img{
    max-width: 130px;
    max-height: 130px;
}

div.heading-text {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
}

div.weather-results {
    text-align: center;
    color: #FFFFFF;
}

div.weather-results h1{
    font-size: 72px;
    margin: 0;
}

div.weather-results h2{
    margin-top: 0;
}

div.weather-results .weather-image{
    width: 75px;
    margin: 0 auto;
}

#weather-img{
    width: 75px;
    height: 75px; 
}